$stepLineW: 6.1rem;
$stepItemW: 1rem;

.step-outline {
    font-size: 0;
    display: block;
    width: 100%;
    margin: 28px 0;
    @include base64("../slice/icon-step-line.png");
    background-repeat: no-repeat;
    background-position:center 12px;
    @extend %border-box;

    .step-item {
        display: inline-block;
        vertical-align: top;
        text-align: center;
        position: relative;
        top: 0;
        z-index: 1;

        width: $stepItemW;
        margin-left: #{ ($stepLineW - ($stepItemW * 3) - .2rem) / 3 };

        &:first-child {
            margin-left: 0;
        }

        .step-count {
            font-size: 14px;
            line-height: 29px;
            color: #fff;

            height: 29px;
            background-repeat: no-repeat;
            background-position: center center;
            @include base64("../slice/icon-step-undone.png");

            position: relative;
            z-index: 1;
        }

        &.step-done, &.step-cur {
            .step-title {
                color: #1cbcb4;
            }
        }

        &.step-done {
            .step-count {
                font-size: 0;
                @include base64("../slice/icon-step-done.png");
            }
            &:after {
                position: absolute;
                content: "";
                width: #{($stepLineW / 3)};
                height: 5px;
                background: #1cbcb4;
                top: 12px;
                left: 50%;
                z-index: -1;
            }
            &:last-child:after {
                background: none;
            }
            &.step-item-last:after {
                background: none;
            }
        }

        &.step-cur {
            .step-count {
                @include base64("../slice/icon-step-cur.png");
            }
        }

        .step-title {
            font-size: 16px;
            line-height: 20px;
            color: #b7b7b7;
            margin-bottom: 8px;
        }

        .step-time {
            font-size: 12px;
            line-height: 20px;
            color: #b7b7b7;
            margin-bottom: 4px;
        }
    }

    &.step-outline-5step {
        .step-item {
            margin-left: #{ ($stepLineW - ($stepItemW * 4) - .2rem) / 4 };
            &:first-child {
                margin-left: 0;
            }
        }

        .step-done {
            &:after {
                width: #{($stepLineW / 4)};
            }
        }
    }

    &.step-outline-3step {
        .step-item {
            margin-left: #{ ($stepLineW - ($stepItemW * 2) - .2rem) / 2 };
            &:first-child {
                margin-left: 0;
            }
        }

        .step-done {
            &:after {
                width: #{($stepLineW / 2)};
            }
        }
    }
}
