@import "lib/_mixins.scss";

html, body {
  height: 100%;
  position: relative;
}

.page-wrap {
  height: 100%;
}

.home-cont {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: url("../img/home-bg.png") no-repeat;
  background-size: cover;
  padding-top: 2.98rem;
  position: relative;
}

.cover-title {
  flex: 0 0 .96rem;
  width: 5.63rem;
  height: .96rem;
  @include sprite("../slice/cover-title.png", index);
  margin-bottom: 4.64rem;
}

.notice {
  &:before {
    content: "";
    display: inline-block;
    vertical-align: top;
    width: .44rem;
    height: .44rem;
    @include sprite("../slice/icon-bluetooth.png", index);
    margin-right: .23rem;
  }
  font-size: .33rem;
  color: #fff;
  line-height: .44rem;
  margin-bottom: .2rem;
}

.btn-go {
  flex: 0 0 .82rem;
  width: 5.9rem;
  height: .82rem;
  background: rgba(0, 0, 0, .3);
  border-radius: .37rem;
  color: #fff;
  text-align: center;
  line-height: .82rem;
  font-weight: bold;
}

.copyright {
  flex: 0 0 .58rem;
  width: 4.39rem;
  height: .58rem;
  @include sprite("../slice/copyright.png", index);
  position: absolute;
  bottom: .24rem;
}

.btn-wrap {
  width: 100%;
  text-align: center;
}

.btn-get-voucher {
  display: inline-block;
  width: 2rem;
  height: .65rem;
  border-radius: .32rem;
  background: #FF5E7C;
  color: #fff;
  font-size: .3rem;
  text-align: center;
  line-height: .65rem;
  margin-bottom: .3rem;
}

.poster-wall {
  display: flex;
  flex-direction: column;

  .poster-row {
    display: flex;
    justify-content: center;
    margin-bottom: .3rem;
  }

  .poster-item {
    display: inline-block;
    width: 3.27rem;
    height: 4.36rem;
    margin-left: .3rem;
    background: rgba(#323137, .5) url("../slice/poster-locker.png") no-repeat center;
    background-size: .56rem .71rem;
    border-radius: .19rem;

    &:first-child {
      margin-left: 0;
    }
    img {
      display: block;
      width: inherit;
      height: inherit;
      border-radius: .19rem;
      box-shadow: 2px 6px 5px 1px rgba(#000, .15);
    }
  }
}

.open-cont {
  height: 100%;
  display: flex;
  flex-direction: column;
  &:before {
    content: "";
    position: fixed;
    height: 100%;
    width: 100%;
    filter: blur(5px);
    z-index: -10;
  }
}

.page-btn {
  display: inline-block;
  width: 3rem;  height: .9rem;
  background: rgba(0, 0, 0, .7);
  border-radius: .45rem;
  color: #fff;
  font-size: .42rem;
  text-align: center;
  line-height: .9rem;
}


.title-wrap {
  padding-top: 1.56rem;
}

.flex-row__centered {
  display: flex;
  justify-content: center;
}

.title__centered {
  text-align: center;
  font-size: .45rem;
}

.poster-cont {
  width: 4.85rem;
  height: 6.58rem;
  position: relative;
  margin: 0 auto;
  img {
    display: block;
    width: 100%;
    height: auto;
    position: relative;

  }
}

.empty-scroll {
  width: 4.72rem;
  height: 1.83rem;
}

.poster-close {
  position: absolute;
  width: .5rem;
  height: .5rem;
  @include sprite("../slice/poster-close.png", index);
  right: -.25rem;
  top: -.25rem;
  z-index: 5;
}

.detail-cont {
  img {
    display: block;
    width: 100%;
    height: auto;
  }
}

.gallery-wrap {
  padding-top: 2rem;
}

