@import "lib/_mixins.scss";

html, body {
  height: 100%;
  position: relative;
}

.canvas {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.page-wrap {
  height: 100%;
  position: relative;
}

.home-cont {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: url("../img/home-bg.png") no-repeat;
  background-size: cover;
  padding-top: 2.98rem;
  position: relative;

  .notice {
    &:before {
      content: "";
      display: inline-block;
      vertical-align: top;
      width: .44rem;
      height: .44rem;
      @include base64("../slice/icon-bluetooth.png");
      margin-right: .23rem;
      background-size: contain;
    }
    font-family: PingFangSC-Light, sans-serif;
    font-size: .33rem;
    color: #fff;
    margin-bottom: .2rem;
    text-align: center;
  }
}

.rule-box {
  position: absolute;
  width: 5.1rem;
  background: rgba(#000, 0.6);
  border-radius: .2rem;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding-top: .55rem;
  .rule-title {
    color: #fff;
    font-size: .42rem;
    line-height: 1.5;
    margin-bottom: .5rem;
    text-align: center;
  }
  .rule-list {
    padding: 0 .52rem;
  }
  .rule-item {
    color: #fff;
    margin-bottom: .45rem;
    display: flex;
    align-items: center;

    .rule-no {
      flex: 0 1 .72rem;
      font-size: .4rem;
      border-radius: 50%;
      text-align: center;
      border: 1px solid #fff;
      width: .72rem;
      height: .72rem;
      margin-right: .14rem;
    }

    .rule-exp {
      flex: 0 1 3.1rem;
      font-size: .28rem;
      width: 3.1rem;
      word-break: break-word;
    }
  }

  .btn-rule-conf {
    border-top: 1px solid #fff;
    padding: .45rem 0;
    p {
      color: #fff;
      text-align: center;
    }
  }
}

.cover-title {
  flex: 0 0 .96rem;
  width: 5.63rem;
  height: .96rem;
  background: url("../slice/cover-title.png") no-repeat;
  background-size: contain;
  margin-bottom: 4.64rem;
}


.btn-go {
  display: inline-block;
  flex: 0 0 .82rem;
  width: 5.9rem;
  height: .82rem;
  background: rgba(0, 0, 0, .3);
  border-radius: .37rem;
  color: #fff;
  text-align: center;
  line-height: .82rem;
  font-weight: bold;
  font-size: .4rem;
  letter-spacing: .1rem;
}

.copyright {
  flex: 0 0 .58rem;
  width: 4.39rem;
  height: .58rem;
  position: absolute;
  bottom: .24rem;
  width: 100%;
  @include base64("../slice/copyright.png");
  background-repeat: no-repeat;
  background-size: auto 100%;
  background-position: center;
}

.btn-wrap {
  width: 100%;
  text-align: center;
}

.btn-get-voucher {
  display: inline-block;
  width: 2rem;
  height: .65rem;
  border-radius: .32rem;
  background: #FF5E7C;
  color: #fff;
  font-size: .3rem;
  text-align: center;
  line-height: .65rem;
}

.poster-wrap {
  padding-top: 2.6rem;
}

.poster-wall {
  display: flex;
  flex-direction: column;
  background: url("../img/poster-bg.png");
  background-size: cover;

  .poster-row {
    display: flex;
    justify-content: center;
    margin-bottom: .4rem;
  }

  .poster-item {
    display: inline-block;
    width: 3.4rem;
    height: 2.32rem;
    margin-left: .2rem;
    background: rgba(#323137, .5) url("../slice/poster-locker.png") no-repeat center;
    background-size: 25%;
    border-radius: .19rem;
    position: relative;

    &:first-child {
      margin-left: 0;
    }
    p {
      position: absolute;
      z-index: 5;
      font-size: 2.5rem;
      color: #fff;
      width: 100%;
      text-align: center;
      line-height: 4.36rem;
    }
    img {
      display: block;
      width: inherit;
      height: inherit;
      border-radius: .19rem;
      box-shadow: 0px 7px 5px rgba(#000, .15);
      position: relative;
      z-index: 10;
    }
  }
}

.rule-cont {
  height: 100%;
  position: relative;
  background: url("../img/poster-bg.png");
  background-size: cover;
}

.open-cont {
  height: 100%;
  display: flex;
  flex-direction: column;
  position: relative;
  background: url("../img/poster-bg.png");
  background-size: cover;

  .seal-scroll-wrap {
    flex: 1;
    text-align: center;
    img {
      display: inline-block;
      width: 60%;
      height: auto;
    }
  }
}

.open-failed {
  height: 100%;
  position: relative;
  background: url("../img/poster-bg.png");
  background-size: cover;

  .flex-row__centered {
    padding-top: 1rem;
  }
  .empty-scroll {
    display: block;
    width: 5.3rem;
    height: 5.09rem;
  }

  .title-scroll-not-found {
    width: 100%;
    height: .72rem;
    background: url("../slice/title-scroll-not-found.png") no-repeat;
    background-size: auto 100%;
    background-position: center;
  }
}

.open-succ {
  height: 100%;
  background: url("../img/poster-bg.png");
  background-size: cover;

  .poster-cont {
    width: 100%;
    height: 6.54rem;
    position: relative;
    padding-top: 1.7rem;
    background: url("../img/canvas.png") no-repeat center;
    background-size: cover;
    img {
      display: block;
      width: 60%;
      height: auto;
      margin: 0 auto;
    }
  }

  .poster-close {
    position: absolute;
    width: .5rem;
    height: .5rem;
    @include base64("../slice/close.png");
    background-repeat: no-repeat;
    background-position: center;
    background-color: #fff;
    background-size: 50%;
    border-radius: 50%;
    right: -.25rem;
    top: .35rem;
    z-index: 5;
    box-shadow: 2px 2px 3px rgba(#000, .5);
  }

  .title-get-poster {
    width: 100%;
    height: 1.25rem;
    background: url("../slice/title-get-poster.png") no-repeat center;
    background-size: contain;
  }

  .btn-wrap {
    width: 100%;
    position: absolute;
    bottom: 1.45rem;

    .succ-btn {
      display: inline-block;
      width: 2.8rem;
      height: .9rem;
      background: rgba(0, 0, 0, .7);
      border-radius: .45rem;
      color: #fff;
      font-size: .42rem;
      text-align: center;
      line-height: .9rem;
      &.btn-continue {
        margin-left: .2rem;
      }
    }
  }
}

.page-btn {
  position: absolute;
  width: 3rem;  height: .9rem;
  background: rgba(0, 0, 0, .7);
  border-radius: .45rem;
  color: #fff;
  font-size: .42rem;
  text-align: center;
  line-height: .9rem;
  bottom: 1.45rem;
  left: 50%;
  margin-left: -1.5rem;
}

.title-wrap {
  padding-top: 1.56rem;
}

.flex-row__centered {
  display: flex;
  justify-content: center;
}

.title__centered {
  text-align: center;
  font-size: .45rem;
}

.gallery-wrap {
  background: url("../img/poster-bg.png");
  background-size: cover;

  .poster-exp {
    margin: .26rem 0 .46rem 0;
    .title-gallery-voucher {
      width: 100%;
      height: .71rem;
      background: url("../slice/title-gallery-voucher.png") no-repeat center;
      background-size: contain;
    }
  }
}

.scenes-cont {
  width: 100%;
  height: 100%;
  position: relative;
  z-index: 10;

  .scroll {
    position: absolute;
    width: 1.4rem;
    height: 1.66rem;
    @include base64("../img/scroll.png");
    background-size: contain;
  }
}

.gallery-entry {
  position: absolute;
  width: 1rem;
  height: 1rem;
  @include base64("../slice/gallery-entry.png");
  background-repeat: no-repeat;
  background-position: center;
  background-color: #323137;
  background-size: 30%;
  border-radius: 50%;
  bottom: 1rem;
  left: 50%;
  transform: translateX(-50%);
}

.collect-prog {
  div {
    display: inline-block;
    vertical-align: middle;
  }
}

.scoreboard {
  background: rgba(#333333, .8);
  width: 100%;
  padding: 1rem 0 .3rem 0;
  position: fixed;
  top: 0;
  z-index: 15;
}

.prog-wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  padding: 0 .4rem;
  margin-bottom: .25rem;

  .start, .voucher {
    flex: 0 0 .54rem;
    width: .54rem;
    height: .35rem;
    border-radius: .18rem;
    position: relative;
    z-index: 2;
    color: #fff;
    text-align: center;
    font-size: .24rem;
  }

  .start {
    background: #ff5e7c;
  }

  .voucher {
    background: #cccccc;
    color: #2f3437;
    &.filled {
      background: #ff5e7c;
      color: #fff;
    }
  }

  .bar {
    width: 50%;
    height: .1rem;
    border-radius: 1rem;
    position: relative;
    z-index: 1;
    overflow: hidden;
    background: #cccccc;

    .progress {
      position: absolute;
      width: 0;
      height: 100%;
      border-radius: .1rem;
      background: #FF5E7C;
      top: 0; left: 0;
    }
  }

  .indicator {
    position: absolute;
    width: .87rem;
    height: .47rem;
    border-radius: 18rem;
    color: #fff;
    background: #FF5E7C;
    text-align: center;
    line-height: .47rem;
    top: 50%;
    transform: translate(-100%, -50%);
    z-index: 5;
    visibility: hidden;
    font-size: .24rem;
  }
}

.text-wrap {
  display: flex;
  color: #fff;
  text-align: center;
  font-size: .24rem;
  align-items: center;
  padding: 0 .2rem;
  .first-bar {
    width: 60%;
  }
  .second-bar {
    width: 50%;
  }
  .start {
    flex: 0 0 .96rem;
  }
  .milestone {
    flex: 0 0 5em;
  }
}

@keyframes loadingAmt {
  0% {
    width: 2.84rem;
  }
  50% {
    width: 3.6rem;
  }
  100% {
    width: 2.84rem;
  }
}

.loading-bal {
  &:before {
    content: "";
    position: absolute;
    border-bottom: .12rem solid rgba(#000, 0.3);
    border-left: .12rem solid transparent;
    border-right: .12rem solid transparent;
    bottom: 0;
    left: -.1rem;
    transform: rotate(50deg);
  }
  position: absolute;
  width: 2.84rem;
  height: .51rem;
  background: rgba(#000, .3);
  background-blend-mode: darken;
  border-radius: .25rem;
  bottom: 3.1rem;
  animation: loadingAmt 1s ease-in infinite;
  left: 0; right: 0;
  margin: 0 auto;
  p {
    color: #fff;
    text-align: center;
    font-size: .24rem;
    line-height: .51rem;
  }
}

.title-scroll-found {
  width: 100%;
  height: 1.52rem;
  background: url("../slice/title-scroll-found.png") no-repeat;
  background-size: auto 100%;
  background-position: center;
}
